h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding: 16px;
    text-align: center;
    margin-bottom: 100px;
}

li {
    display: inline;
    background-color: darksalmon;   
    padding: 90px 160px;
}